*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img{
    width: 100%;
    height: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
}

.logo{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 200;
    text-transform: uppercase;

}

.menu{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 5px;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamburger span{
    display: block;
    width: 17px;
    height: 2px;
    background-color: black;
}

.image-wrapper{
    position: relative;
}

.wrapper{
    font-size: 2rem;
    font-family:"Noto Serif JP",serif;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}